<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Page</title>
</head>

<body class="bg-primary p-5 text-center">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Welcome, {{user.first_name}}!</h1>
        <div>
            <button><a href="/create_one_recipe">+ Create Recipe</a></button>
            <button><a href="/logout">Logout</a></button>
        </div>
    </div>
    <h4 class="text-left">All Posted Recipes:</h4>
    <table class="table text-warning table-hover table-dark table-striped table-bordered border-light mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30</th>
                <th>Posted By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for one_recipe in all_recipes %}
            <tr class="text-light">
                <td>{{one_recipe.name}}</td>
                <td>
                    {% if one_recipe.under_30 == 0 %}
                    No
                    {% else %}
                    Yes
                    {% endif %}
                </td>
                <td>{{one_recipe.posted_by.first_name}} {{one_recipe.posted_by.last_name}}</td>
                <td class="text-light">
                    <button><a href="/display_one_recipe">View Recipe</a></button> 
                    {% if one_recipe.posted_by.id == user.id %} 
                    |
                    <button><a href="/edit_one_recipe/{{one_recipe.id}}">Edit</a></button> | 
                    <button><a href="/delete_one_recipe/{{one_recipe.id}}">Delete</a></button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>